{% extends 'base.html' %}


{% block head %}
<title>Edit</title>
 {% endblock %}

 
 {% block body %}
     <h1>Editing post</h1>
    <hr>
    <h2>Edit:</h2>
    <form action='/posts/edit/{{post.id}}' method='POST'>
        <label for="title">Tttle: </label>
        <input class="form-control" type="text" name='title' id='title' value="{{post.title}}" aria-label="Enter Title">
        <br>
        <label for="author">Author: </label>
        <input class="form-control" type="text" name='author' id='author' value="{{post.author}}" aria-label="Enter Author">
        <br>
        <label for="content">Post: </label>
        <textarea class="form-control" name='content' id="content" aria-label="Enter content" rows="3">{{post.content}} </textarea>
    <br>
        <input type='submit' value='save'>
    </form>
    <hr>
 {% endblock %}
