{% extends 'base.html' %}


{% block head %}
<title>Home</title>
{% endblock %}
<!--<style>
    div {
      background-image: href=" {{url_for ('/static/css/blog.jpg')}}";
    }
</style>-->

{% block body %}
<br>
<h1> Home page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            

           
            <h2>Welcome to the STEM Land Aura Auro Design</h2>
            <p>STEM Land – Aura Auro Design is a sub-unit of SAIIER (Sri Aurobindo International Institute of
                Educational Research). SAIIER is an education research wing at Auroville a universal township at the
                service of humanity. STEM Land runs centers in Auroville’s outreach schools and is supported by Aura
                Semiconductor Pvt. Ltd. and Quilt-AI.</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go to Posts
                    &raquo;</a>
            </p>
        </div>
    </div>
</div>
</main>
{% endblock %}



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="x-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> Home Page 2 </h1>
</body>
</html>-->