{% extends 'base.html' %}


{% block head %}
<title>new_post</title>
 {% endblock %}

 
 {% block body %}
    <br>
    <br>
    <h2>Create New Blog Post:</h2>
    <hr>
    <form action='/posts' method='POST'>
        <label for="title">Tttle: </label>
        <input class="form-control" type="text" name='title' id='title' placeholder="Enter Title" aria-label="Enter Title">
        <br>
        <label for="author">Author: </label>
        <input class="form-control" type="text" name='author' id='author' placeholder="Enter Author" aria-label="Enter Author">
        <br>
        <label for="content">Post: </label>
        <textarea class="form-control" name='content' id="content" placeholder="Enter Content" aria-label="Enter content" rows="3"></textarea>
    <br>
        <input type='submit' value='Submit'>
    </form>

    <hr>
 {% endblock %}
