{% extends 'base.html' %}


{% block head %}
<title>posts</title>
 {% endblock %}

 
 {% block body %}
 <br>
    <div>
        <h1 style= "display:inline"> All posts </h1>
        <a class="btn btn-success float-right"  href="/posts/new"  >+ New Post</a> 
    </div>
<br>
    <hr>
    {% for post in posts1 %}
    <br>
        <h2>{{ post.title}}</h2>
       <!--<p> {{ post.content }}</p>--> 

        {% if post.author %}
            <small>written by{{ post.author }} on {{post.date_posted}}</small>
        {% else %}
            <small>written by unknown on {{post.date_posted}}</small>
        {% endif %}
        <br>
        <br>
        <br>

        <p style="white-space:pre-wrap">{{ post.content }}</p>
        <a class="btn btn-danger" href= "{{url_for('delete',id=post.id) }}">Delete</a>
        <a class= "btn btn-primary" href= "{{url_for('edit',id=post.id) }}">Edit</a>
        <br>
        <hr>

    {% endfor %}
 {% endblock %}
